+font('bebasNeueBold', 'bebasNeueBold')
+font('bebasNeueBook', 'bebasNeueBook')

body
  background-color: #000
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  min-height: 1199px
  +r(966px)
    min-height: 640px
.audio
  display: block
  height: 0
  overflow: hidden
  visibility: hidden
.out
  background-image: url('../img/background.jpg')
  background-position: 50% 50%
  background-size: auto
  background-repeat: no-repeat
  //width: 63.081395%
  margin-left: auto
  margin-right: auto
  overflow: hidden
  min-height: 1199px
  width: 100%
  +r(1060px)
    padding: 0 17px
  +r(966px)
    min-height: 640px
  &__i
    position: relative
    max-width: 940px
    margin-left: auto
    margin-right: auto
    +r(966px)
      max-width: 285px
.container
  position: relative
  @include container(940px)
  padding-top: 143px
  min-height: 640px
  +r(966px)
    padding-top: 37px
.game-box
  position: relative
  min-height: 500px
  z-index: 1
  display: block
  @include span(4)
  margin-right: span(1)
  +r(966px)
    position: absolute
    z-index: 0
    left: 0
    right: 0
    width: 100%
    margin-right: 0
  &__img
    position: absolute
    top: -171px
    left: -195px
    width: 776px
    max-width: 1000px
    height: 1199px
    &--mobile
      display: none
    +r(966px)
      display: none
      &--mobile
        width: 287px
        height: 606px
        display: block
        margin-left: auto
        margin-right: auto
        position: static
.combinations
  position: absolute
  height: 115px
  overflow: hidden
  display: flex
  z-index: 5
  top: 50%
  left: 42px
  +r(966px)
    top: 42.5%
  &__i
    //transform: translateY(-98.3%)
    &--start-0
      animation: game0 3s linear forwards
    &--start-1
      animation: game1 3s linear forwards
    &--start-2
      animation: game2 3s linear forwards
    &--start-3
      animation: game3 2.5s linear forwards
    &--start-4
      animation: game4 2s linear forwards
  &__comb
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    width: 38px
    height: 100%
  &__column
    margin-right: 2px
    &:last-child
      margin-right: 0
    & img
      display: block
    &:nth-child(2)
      & .combinations__i
        animation-delay: .2s
    &:nth-child(3)
      & .combinations__i
        animation-delay: .4s
    &:nth-child(4)
      & .combinations__i
        animation-delay: .6s
    &:nth-child(5)
      & .combinations__i
        animation-delay: .8s
.content
  position: relative
  @include span(6)
  margin-right: span(1)
  padding-right: 4.255319%
  +r(966px)
    float: none
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start
    width: 285px
    margin-left: auto
    margin-right: auto
    padding-right: 0
    padding-top: 43px
    min-height: 597px
  &__title,
  &__subtitle
    font-family: "bebasNeueBold", sans-serif
    font-size: 57px
    font-weight: 400
    text-transform: uppercase
    color: #f7bd10
    text-shadow: -21px 0 93px rgba(255, 238, 0, 0.2)
    text-align: center
    line-height: .9
    +r(966px)
      font-size: 28px
  &__subtitle
    font-size: 114px
    margin-bottom: 0
    +r(966px)
      font-size: 56px

.btn
  display: block
  position: relative
  margin-bottom: 36px
  z-index: 1
  width: 100%
  height: 85px
  background-image: linear-gradient(to top, #f07100 0%, #fcff00 100%)
  box-shadow: inset 0 0 90px rgba(255, 210, 0, 0.52)
  &:active
    &:after
      display: none
  &:after
    position: absolute
    bottom: 0
    left: 0
    z-index: 1
    width: 100%
    content: ''
    height: 6px
    background-color: #9f6300
  & > span
    display: block
    font-family: "bebasNeueBold", sans-serif
    font-size: 47px
    line-height: .8
    margin-top: 5px
    font-weight: 400
  +r(966px)
    margin-top: auto
    width: 240px
    height: 63px
    background-color: #fbe000
    background-image: linear-gradient(to top, #f07100 0%, #fcff00 100%)
    border-radius: 53px
    box-shadow: -1px 5px 0 #a16500, 2px 5px 0 #a16500, -4.7px 3.7px 37.7px 13.3px rgba(255, 171, 0, 0.56)
    &:after
      display: none
    & > span
      font-size: 37px
      font-weight: 400
      margin-top: 10px

.lights-list
  position: absolute
  z-index: 5
  display: flex
  align-items: flex-start
  justify-content: space-between
  left: 0
  right: 0
  width: 100%
  &__item
    width: 152px
    height: 213px
    background-image: url('../img/light--active.png')
    background-position: top center
    background-repeat: no-repeat
    background-size: cover
    &:nth-child(2),
    &:nth-child(4)
      background-position: 50% -38px
    &:nth-child(3)
      background-position: 50% -26px
    &:nth-child(5)
      background-position: 50% -23px
    &--unactive
      background-image: url('../img/light.png')
      background-size: 44px 162px
    +r(966px)
      width: 79px
      height: 96px
      &:nth-child(2)
        background-position: 50% -10px
      &:nth-child(4)
        background-position: 50% 0px
      &:nth-child(3)
        background-position: 50% -15px
      &:nth-child(5)
        background-position: 50% 0px
      &--unactive
        width: 79px
        height: 96px
        background-size: 20px 67px
.form
  position: absolute
  top: -10px
  max-width: 430px
  left: 0
  right: 4.255319%
  z-index: 2
  background-image: url('../img/form-bg.jpg')
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  min-height: 327px
  flex-direction: column
  align-items: center
  justify-content: center
  display: none
  +r(966px)
    width: 100%
    z-index: 10
    right: -1px
    left: 0
    top: 28px
    min-height: 178px
  &--invalid
    & .error
      display: block
  &--show
    display: flex
  &--final
    justify-content: center
    padding: 23px 19px 23px 19px
    +r(966px)
      padding: 15px
    & .form__title
      font-size: 44px
      margin-bottom: 7px
      +r(966px)
        font-size: 27px
    & .form__subtitle
      font-size: 14px
      margin-bottom: 13px
      font-family: Roboto, sans-serif
      +r(966px)
        font-size: 9px
  &__input
    display: block
    width: 100%
    padding-left: 13px
    background-color: #fff
    border: 1px solid #252525
    font-family: Roboto, sans-serif
    color: #000000
    font-size: 22px
    font-weight: 100
    height: 59px
    margin-bottom: 18px
    +r(966px)
      height: 34px
      font-size: 14px
  &__button
    display: block
    overflow: hidden
    width: 100%
    background-color: transparent
    border: 3px solid #f8c000
    height: 79px
    font-size: 47px
    font-weight: 400
    font-family: 'bebasNeueBold', sans-serif
    color: #f8cc00
    +r(966px)
      height: 48px
      font-size: 37px
    & span
      line-height: 85px
      +r(966px)
        line-height: 48px
        font-size: 27px
  &__title,
  &__subtitle
    width: 100%
    text-align: center
    font-family: 'bebasNeueBold', sans-serif
    font-size: 70px
    font-weight: 400
    color: #fff
    line-height: 1
    +r(966px)
      font-size: 40px
  &__subtitle
    font-size: 50px
    font-family: 'bebasNeueBook', sans-serif
    +r(966px)
      font-size: 30px
    &--small-fz
      font-size: 29px
      line-height: 1.07
      +r(966px)
        font-size: 20px
    &--medium-fz
      font-size: 42px
.counter
  position: relative
  padding: 14px 14px
  margin-bottom: 20px
  height: 158px
  background-color: #000
  border: 5px solid #464344
  border-radius: 40px
  overflow: hidden
  +r(966px)
    width: 243px
    height: 90px
    margin-left: auto
    margin-right: auto
    border-radius: 17px
    border-width: 2px
    padding: 11px
  &__base-img
    +r(966px)
      width: 162px
      height: 68px
  &__img
    position: absolute
    bottom: 0
    height: 127px
    width: 100px
    top: 100%
    right: 14px
    transition: top .2s linear
    +r(966px)
      width: 53px
      height: 68px
    &--active
      top: 14px
      bottom: 14px
      transition: top .2s linear
      +r(966px)
        top: 11px
        bottom: 11px
.overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9
  background-color: rgba(0, 0, 0, .5)
  display: none
.modal
  position: fixed
  text-align: center
  display: none
  min-height: 516px
  min-width: 531px
  z-index: 10
  padding: 158px 22px 40px 22px
  top: 50%
  left: 50%
  transform: translate3d(-50%, -50%, 0)
  background-image: url('../img/modal-jackpot.png'), url('../img/form-bg.jpg')
  background-size: 400px 320px, cover
  background-position: 50% 40px, top center
  background-repeat: no-repeat, no-repeat
  & .form--thanks
    position: absolute
    max-width: 100%
    z-index: 2
    top: 0
    right: 0
    bottom: 0
    left: 0
  & .form--show
    display: flex
  & .error
    position: absolute
    bottom: calc(100% + 15px)
    margin-bottom: 0
    width: 100%
    margin-top: 0
    +r(966px)
      bottom: calc(100% + 5px)
      font-size: 11px
  +r(966px)
    min-width: 1px
    min-height: 1px
    padding: 75px 10px 20px 10px
    height: 264px
    width: 269px
    background-size: 184px 157px, cover
    background-position: 50% 20px, top center
  &--show
    display: block
    & + .overlay
      display: block
  &__title,
  &__subtitle
    font-family: 'bebasNeueBold', sans-serif
    font-size: 65px
    font-weight: 400
    color: #ffec31
    line-height: 1
    +r(966px)
      font-size: 37px
  &__subtitle
    font-size: 44px
    font-weight: 400
    margin-bottom: 80px
    margin-top: -10px
    +r(966px)
      margin-top: -5px
      font-size: 20px
      margin-bottom: 35px
  &__descr
    font-family: Roboto, sans-serif
    font-size: 21px
    font-weight: 300
    color: #fff
    margin-bottom: 47px
    +r(966px)
      font-size: 11px
      margin-bottom: 22px
  &__form
    position: relative
    display: flex
    align-items: center
    justify-content: flex-start
    & .form__input
      width: 241px
      height: 50px
      margin-bottom: 0
      margin-right: 7px
      +r(966px)
        height: 25px
        width: 123px
        margin: 3px
        font-size: 10px
    & .form__button
      width: 240px
      height: 49px
      color: #ffaf00
      border-color: #ffaf00
      font-size: 25px
      line-height: 50px
      font-weight: 400
      & span
        line-height: 10px
      +r(966px)
        height: 25px
        width: 122px
        line-height: 10px
        & span
          font-size: 15px
          line-height: 10px
.error
  font-family: Roboto, sans-serif
  font-size: 21px
  font-weight: 300
  color: red
  margin-bottom: 20px
  text-align: center
  display: none
  +r(966px)
    font-size: 9px
    margin-bottom: 13px
  &--show
    display: block
  @keyframes slideDown
    0%
      transform: translate3d(0, 0, 0)
      z-index: 0
    6%
      transform: translate3d(0, 100%, 0)
      z-index: 2
    24%
      transform: translate3d(0, 100%, 0)
      z-index: 2
    30%
      transform: translate3d(0, 0, 0)
      z-index: 0
    100%
      transform: translate3d(0, 100%, 0)
      z-index: 0
  @keyframes slideNumber
    from
      transform: translate3d(0, -100%, 0)
    to
      transform: translate3d(0, 0, 0)
  @keyframes end
    from
      top: 155px
    to
      top: 0
  @keyframes finalSlot
    0%
      top: 115px
    20%
      top: 0
    30%
      top: 0
    40%
      top: 0
    50%
      top: 0
    60%
      top: 0
    70%
      top: 0
    80%
      top: 0
    90%
      top: 0
    100%
      top: 115px
  @keyframes game0
    0%
      transform: translate3d(0, -98.3%, 0)
    100%
      transform: translate3d(0, -1240px, 0)
  @keyframes game1
    0%
      transform: translate3d(0, -98.3%, 0)
    100%
      transform: translate3d(0, -2598px, 0)
  @keyframes game2
    0%
      transform: translate3d(0 ,-98.3%, 0)
    100%
      transform: translate3d(0, -3953px, 0)
  @keyframes game3
    0%
      transform: translate3d(0, -98.3%, 0)
    100%
      transform: translate3d(0, -5310px, 0)
  @keyframes game4
    0%
      transform: translate3d(0, -98.3%, 0)
    100%
      transform: translate3d(0, -6662px, 0)